.container{
    margin-left: 42px;
     height: 559.0799560546875px;
    width: 329px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 559.0799560546875px;
    width: 329px;
    background-color: #D7FCAE;
    cursor: pointer;
    border-radius: 20px;

}
.img{
    height: 400px;
width: 100%;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
object-fit: cover;
filter:grayscale(100%)

}
img:hover{
    filter:grayscale(0%)
  
}

.rotatedContainer{
   margin-left: 42px;
     height: 559.0799560546875px;
    width: 329px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 559.0799560546875px;
    width: 329px;
    background-color: #76B532;
    cursor: pointer;
    border-radius: 20px;
}

.container .name{
    margin: 0;
    margin-top:23px;
font-family: 'Mulish';
color: #101010;

font-size: 32px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0em;

}

.container .jobTitle{
    margin: 0;
    font-family: 'Mulish';
font-size: 18px;
font-weight: 400;
line-height: 48px;
letter-spacing: 0em;
color: #131313;

}

.rotatedContainer .name{
    margin: 0;
    margin-top: 78.5px;
    color: white;
    font-family: 'Mulish';
font-size: 30px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0em;

}

.rotatedContainer .jobTitle{
    margin: 0;
    color: white;
    font-family: 'Mulish';
font-size: 20px;
font-weight: 400;
line-height: 48px;
letter-spacing: 0em;

}
.bio{
    margin-top: 89px;
    color: white;
    height: 144px;
width: 209px;
font-family: 'Mulish';
font-size: 16px;
font-weight: 300;
line-height: 28px;
letter-spacing: 0em;


}