.bunnerWrapper {
    position: fixed;
    top: 0;
    display: flex;
    width: 100%;
    font-family: 'Mulish';
    z-index: 20;
}

.title{   
    margin-left: 10px;
    font-weight: 700;  
    font-size: 2vw;
    color: gold;
    background: -webkit-linear-gradient(rgb(27, 106, 224), rgb(230, 245, 23));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.button{
    font-size: 10px;
    cursor: pointer;
    background-color: gold;
    margin-left: 10px;
    border-radius: 5px;
}

.marqueeWrapper {
   
    width: 100vw;
    background-color:blur;
}



@media (min-width: 425px)  {
    .title{
        /* font-size: 6vw; */
    }
}
@media (min-width: 768px)  {
    
    .title{   
        /* font-size: 26px; */
        line-height: 28px;
    }
    
    .logo {
        height: 60px;
    } 
    .button{
        font-size: 16px;
    }
}  

@media (min-width: 1200px) { 
    
        .logo {
        margin-right: 60px;
    } 
}

@media (min-width: 1920px) { 
    .marqueeWrapper{
           
    }  

    .logo {
        height: 80px;
        margin-right: 80px;
    } 
}