.clientsWrapper {
    display: flex;
    width: 100%;
    font-family: 'Mulish';
    color:#152A3D;
    padding: 20vw 0vw;
}

.title{   
    font-weight: 700;  
    font-size: 6vw;
    line-height: 8vw;
    border-bottom: 2px solid  #152A3D;
}

.marqueeWrapper {
    margin-top: 8vw;
}

.logo {
    height: 50px;
    margin-right: 40px;

}

@media (min-width: 768px)  {
    .clientsWrapper {
        padding: 80px 0px;
    }

    .cardContainer{
        grid-template-columns: repeat(4, 1fr); 
        margin-top: 50px;    
    }

    .title{   
        font-size: 26px;
        line-height: 28px;
    }
      
    .marqueeWrapper {
        margin-top: 30px;
    }
    
    .logo {
        height: 60px;
    } 
}  

@media (min-width: 1200px) { 
    .clientsWrapper{
        padding: 100px 0px;
    }

    .marqueeWrapper{
        margin-top: 60px;    
    }  

    .logo {
        margin-right: 60px;
    } 
}

@media (min-width: 1920px) { 
    .clientsWrapper{
        padding: 140px 0px;
    }

    .marqueeWrapper{
        margin-top: 60px;    
    }  

    .logo {
        height: 80px;
        margin-right: 80px;
    } 
}