.menuBtn {
  border-style: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

.link {
  font-family: Mulish;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;  
}

@media (min-width: 768px)  {
    .menuBtn{
      display: none;
    }

    .headermenu{
       display: none;
    }
  }