.menuBtn {
  border-style: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

@media (min-width: 768px)  {
    .menuBtn{
      display: none;
    }

    .headermenu{
       display: none;
    }
  }