.container{
    position: fixed;
    z-index: 101;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    background-color: rgb(151, 156, 150);
    opacity: 0.5;
    cursor: pointer;
}
.closeBtn{
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 105;
    height: 50px;
    width: 50px;
    opacity: 100 !important;
    top: 8.5%;
    left: 76%;
    cursor: pointer;
}
.form{
    display: none;
    position: fixed;
    top: 10%;
    left: 15%;
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: center;
    justify-content: center;
    background-color: #FFC403;
    padding: 10px;
    z-index: 102 !important;
    opacity: 1 !important;
    border-radius: 10px;
    box-shadow:white;
    padding: 10px;
}

.formTitle{
    font-weight: 600;  
    font-size: 16px;
    line-height: 20px;
    color: #152A3D;
    font-family: 'Mulish';
    
}
.formText{ 
    margin-bottom: 15px;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
 color: #152A3D;
 font-family: 'Mulish';
 text-align: center;
}
.form input{
    width: 90%;
    margin:  5px 0;
    background-color:white;
    padding: 5px 10px;
    border-radius: 4px;
}
.form input::placeholder{
    color: rgb(32, 24, 24);
}
.textarea{
    border: none;
    width: 90%;
    border-radius: 4px;
    resize: none; 
    margin-top: 5px;
    padding:  5px 10px;
}
.textarea::placeholder{
    color: rgb(32, 24, 24);
}
.btnGreen {
    margin-top: 15px;
    border-radius: 55px;
    background-color: #07DA62;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    font-weight: 700;
    font-size: 5vw;
    line-height: 6vw;
    text-align: center;
    color: #ffffff;
    padding: 10px 20px;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    border-radius: 55px;
    background-color: #059042;
}
    
@media (min-width: 596px) and (max-width: 800px){
    .form{
    }
    .formText{
        line-height: 20px;
        width: 90%;
    }
}

@media (min-width: 800px) and (max-width: 1000px){
    .form{
        width: 50%;
        left: 25%;
    }
    .closeBtn{
        left: 70%;
    }
}
@media (min-width: 1000px){
    .form{
        width: 30%;
        left: 35%;
    }
    .closeBtn{
        left: 60%;
    }
}