.theCard {
    min-width: 50%;
    aspect-ratio : 1 / 1;
    border-radius: 20px;
    font-family: 'Mulish';
    color:#152A3D;
}

.theFront {  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.backDescription  {
    display: none;
}

.description {
    display: none;
}


.theFront .title { 
  margin-top: 2vw;
  font-weight: 700; 
  font-size: 3.5vw;
  line-height: 4vw;
  text-align: center;
}

.img{
    height: 15vw;   
}

@media (min-width: 768px) and (max-width: 1199px) {
    .theCard {
        padding: 25px 15px;
        max-width: 145px;
        box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.25);
        height: 165px;
    }

    .img{
        height: 60px;   
    }

    .theFront .title { 
        margin-top: 15px;
        font-size: 14px;
        line-height: 16px;
    }
    
}

@media (min-width: 1200px)  {
    .theCard {
        max-width: 200px;
        padding: 30px 25px;
        box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.25);
        height: 100%;
    }

    .img{
        padding: 10px;
        height: 80px;   
    }

    .theFront .title { 
        margin-top: 15px;
        font-size: 18px;
        line-height: 22px;
    }           
}

@media (min-width: 1400px)  {
    .theCard {
        max-width: 200px;
        padding: 30px 25px;
        box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.25);
        height: 100%;
    }

    .img{
        padding: 10px;
        height: 80px;   
    }

    .theFront .title { 
        margin-top: 15px;
        font-size: 18px;
        line-height: 22px;
    }           
}

@media (min-width: 1920px)  {
    .theCard {
        max-width: 230px;
        padding: 30px 25px;
        box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.25);
        height: 100%;
    }

    .img {
        height: 90px;   
    }         
}