.Container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  justify-content: center;
}

@media (min-width: 480px) and (max-width: 767px) {
  .Container {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (min-width: 768px) {
  .Container {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media (min-width: 1200px) {
  .Container {
    padding-left: 120px;
    padding-right: 120px;
  }
}

@media (min-width: 1400px) {
  .Container {
    padding-left: 240px;
    padding-right: 240px;
  }
}

@media (min-width: 1920px) {
  .Container {
    padding-left: 300px;
    padding-right: 300px;
  }
}

@media (min-width: 2080px) {
  .Container {
    padding-left: 380px;
    padding-right: 380px;
  }
}

@media (min-width: 2560px) {
  .Container {
    padding-left: 400px;
    padding-right: 400px;
  }
}

@media (min-width: 3840px) {
  /* .Container {
    padding-left: 240px;
    padding-right: 240px;
  } */
}