.footer {
  background-image: url('../../assets/images/header/infoPoly_main_bg_mobile.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: 'Mulish';
  z-index: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  text-align: center;
  font-size: 14px;
}

.policy {        
    margin: auto;
}

@media (min-width: 1200px) {
  .footer {
    font-size: 16px;
  }
}

@media (min-width: 1920px) {
  .footer {
    font-size: 18px;
  }
}

@media (min-width: 2560px) {
   .footer {
    font-size: 20px;
  }
}