.servicesWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-family: 'Mulish';
  color:#152A3D;
  padding: 20vw 0vw;
}


.title{   
  font-weight: 700;  
  font-size: 6vw;
  line-height: 8vw;
  border-bottom: 2px solid  #152A3D;
}

.text{
  margin-top: 4vw;
  font-weight: 300;
  font-size: 4vw;
  line-height: 6vw;
  text-align: center;
  color: #7D7987;
}

.cardContainer{
    margin-top: 10vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-auto-rows: minmax(2.3vw, 1fr); */
    grid-gap: 40px;
    justify-content: center;
}

@media (min-width: 768px)  {
    .servicesWrapper{
        padding: 80px 0px;
    }

    .cardContainer{
        grid-template-columns: repeat(4, 1fr); 
        margin-top: 50px;    
    }

    .title{   
        font-size: 26px;
        line-height: 28px;
    }
      
    .text{
        margin-top: 30px;
        font-size: 16px;
        line-height: 24px;
    }    
}
  

@media (min-width: 1200px) { 
    .servicesWrapper{
        padding: 100px 0px;
    }

    .cardContainer{
        margin-top: 60px;    
    }
    
    .text{
        margin-top: 40px;
    }  
}