
.header{
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px 0;
  background:rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(4px);
  /* background-image: url('../../assets/images/header/infoPoly_main_bg_mobile.jpg');
  background-repeat: no-repeat;
  background-size: cover; */
  z-index: 100;
}

.appbar{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;  
}

.logo {
  height: 40px;
  margin-right: 60px;
}

.headermenuNav{
  display: none;
}


.link {
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #152A3D;
}

.link:not(:last-child){
  margin-right: 25px;
}


.menuBtn{
  border-style: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  margin-top: 500px;
}

@media (min-width: 428px)  {
  /* .menuBtn{
    display: none;
  } */
  
}
@media (min-width: 428px) and (max-width: 767px)  {
  .header{
    padding: 12px 0;
  }
}

@media (min-width: 768px) and (max-width: 1199px) { 
  .header{
    padding: 15px 0;
    /* background-image: url('../../assets/images/header/infoPoly_main_bg_tablet.jpg'); */
  }      
  .headermenuNav{
    display: flex;
    align-items: center;
  }
  
 
}

@media (min-width: 1200px) { 
  .header{
    padding: 20px 0;
    /* background-image: url('../../assets/images/header/infoPoly_main_bg_tablet.jpg'); */
  }      
  .headermenuNav{
    display: flex;
    align-items: center;
  }
 
  
  
}



