.footer {
  background-image: url('../../assets/images/header/infoPoly_main_bg_mobile.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 20vw;
  padding-bottom: 10vw;
  font-family: 'Mulish';
  font-weight: 300;
  font-size: 4vw;
  line-height: 6vw;
  color:#152A3D;
}
.help{
    display: none;
}
.wrapper {
    display: flex;
    flex-direction: column;
}

.wrapper span {
    display: block;
}

.navigation {
    display: flex;
    justify-content: space-around;
    margin-top: 8vw;  
}

.logo {
    height: 10vw;
}

.infoText {
    margin-top: 4vw;  
}

.title {
    margin-bottom: 2vw;
}

.policy {
    align-self: flex-start;
    margin-top: 20vw; 
}


@media (min-width: 768px)  {
    .footer {
        background-image: url('../../assets/images/footer/infoPoly_footer_bg_tablet.jpg');
        padding-top: 80px;
        padding-bottom: 40px;
        font-size: 14px;
        line-height: 22px;
   }

   .wrapper {
       flex-direction: row;
       justify-content: space-between;
       align-items: center;

    }
    
    .logo {
       height: 40px;
    }

    .infoText {
        margin-top: 20px;  
    }
    
    .title {
        margin-bottom: 10px;
    }

    .navigation {
        margin: 0;  
    }

    .company,
    .region {
        margin-right: 20px;
    }


    .info {
        width: 40%;
    }

    .policy {
        margin-top: 50px; 
    }
  
}
  

@media (min-width: 1200px) { 
     .footer {
        background-image: url('../../assets/images/footer/infoPoly_footer_bg_desktop.jpg');
        padding-top: 100px;
        padding-bottom: 40px;
        
   }

 
    .logo {
       height: 40px;
    }

    .infoText {
        margin-top: 20px;  
    }
    
    .title {
        margin-bottom: 10px;
    }

    .navigation {
        margin: 0;  
    }

    .company,
    .region {
        margin-right: 20px;
    }


    .info {
        width: 40%;
    }

    .policy {
        margin-top: 50px; 
    }
 
}