.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-bottom: 190px;
}
.title {
  margin: 0;
  margin-bottom: 57.13px;
  margin-top: 190px;
  font-family: 'Mulish';
font-size: 36px;
font-weight: 700;
line-height: 56px;
letter-spacing: 0em;

}
.background{
  position: absolute;
  top: 0;
  z-index: -5;
}
.background2{
  position: absolute;
bottom: 0;
  z-index: -5;
}
.navigation{
  display: flex;
  margin-bottom: 33.27px;
}

.navigation >div{
  margin-left: 19px;

  font-family: 'Mulish';
font-size: 24px;
font-weight: 400;
line-height: 56px;
letter-spacing: 0em;
cursor: pointer;
}
.activeTab{
  color: green;
  border-bottom: 1px solid violet;
}
.membersContainer{
  display: flex;
  justify-content: center;
  width: 80%;
  flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-bottom: 99.9px;
}
.title {
  margin: 0;
  margin-bottom: 57.13px;
  margin-top: 99px;
  margin-bottom: 42px;
  font-family: 'Mulish';
font-size: 24px;
font-weight: 700;
line-height: 56px;
letter-spacing: 0em;

}
.background{
  position: absolute;
  top: 0;
  z-index: -5;
  width: 1059px;
}
.background2{
  width: 1063px;
  position: absolute;
bottom: 0;
  z-index: -5;
}
.navigation{
  display: flex;
  margin-bottom: 33.27px;
}

.navigation >div{
  margin-left: 10px;
  font-family: 'Mulish';
font-size: 14px;
font-weight: 400;
line-height: 14px;
letter-spacing: 0em;
cursor: pointer;
}

.membersContainer{
  display: flex;
}
}