.contacts{
    background-color: rgb(192, 236, 218);
    height: 90vh;
    width: 100%;
    padding-top: 100px;
    position: relative;
    overflow-x: hidden;
    padding-bottom: 500px;
}

  /* .photo{
      width: 100px;
      height: 150px;
      margin-left: 250px;
      position:absolute;
      
    } */
    .title{
      margin-top: 15px;
      color: #05C157;
      font-family: 'Mulish';
      margin-bottom: 5px;
    }
    .text{
      margin-top: 15px;
      font-size: 16px;
      font-family: 'Mulish';
      text-align: center;
  
    }
    .list{
      position: absolute;
      width: 50%;
      height: 40%;
      top: 50%;
      z-index: 20;
      display: flex;
      flex-direction: column;
      align-items: center;
 
      background-color: white;
      padding: 0;
      padding: 10px;
      border-radius: 5px;
      box-shadow: 10px 5px 5px grey;
    }
    .listItem{
      width: 100%;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      color: #152A3D;
      font-family: 'Mulish';
      
    }
  
    .contact{
      color: #152A3D;
      cursor: pointer;
      margin-top: 15px;
      /* text-decoration: none; */
    }
  .socials{
    display: flex;
    align-items: center;
   
  
  }
  
  .listItemImg{
    width: 18px;
    height: 18px;
    margin: 5px;
    background-color:#FFC403;
    border-radius: 18px;
  }

  .phoneImg{

  }
  @media (min-width: 428px) and (max-width: 767px)  {
    .listItem{
      margin-top: 20px;
      line-height: 5px;
      font-size: 18px;
  }}
  @media (min-width: 768px) and (max-width: 1199px) {
    
  }
  @media  (min-width: 1200px) {
    .list{
      position: absolute;
      width: 20%;
      height: 30%;
      bottom: 45%;
      z-index: 20;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: white;
      padding: 0;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 10px 5px 5px grey;
    }
    .listItem{
      width: fit-content;
      font-size: 16px;
      line-height: 30px;
    block-size: fit-content;
    }

      .listItemImg{
        width: 20px;
        height: 20px;
        margin: 5px;
    
        background-color:#FFC403;
        border-radius: 18px;
      }
    }
    