.contacts {
    background-color: rgb(243, 254, 249);
    height: 90vh;
    width: 100%;
    margin-top: 60px;
    padding-top: 40px;
    padding-bottom: 80px;
    font-family: 'Mulish';
}

    .title {
      color: #05C157;
      font-size: 5vw;
      line-height: 7vw;
    }

    .text {
      font-size: 4vw;
      line-height: 6vw;
      text-align: left;  
    }

    .list {      
      margin-top: 15vw;
      height: fit-content;
      display: flex;
      flex-direction: column;     
      background-color: white;
      padding: 40px;
      padding-top: 50px;
      border-radius: 5px;
      box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.5);
      background-image: url('../../assets/images/header/infoPoly_main_bg_mobile.jpg');
      background-repeat: no-repeat;
      background-size: cover;
    }

    .logoWrapper{
      display: flex;
    }

    .logo{
      height: auto;
      width: 40px;
    }

    .icon {
      font-size: 20px;
      color: #203d58;
    }

    .listItem{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 100%;
      font-size: 14px;
      line-height: 22px;
      text-align: left;
      color: #152A3D;
      margin-bottom: 20px;
    }

    .address{
      text-align: center;
    }
  
    .contact {
      color: #152A3D;
      cursor: pointer;
      /* text-decoration: none; */
    }

    .socials {    
      margin: 0 auto;
      margin-top: 20px;
      display: flex;
      align-items: center;
    }

    .socials .listItem {
      margin: 0;
      display: block;      
    }

    .socials .listItem:first-child {
      margin: 0;
      display: block;      
      margin-right: 20px;
    }

   .listItemA:first-child {
      margin-right: 15px;
    }

  .listItemImg {
    width: 24px;
    height: 24px;
  }

  
  @media (min-width: 480px) and (max-width: 767px)  {
    .contacts {
      margin-top: 64px;
      padding-top: 60px;
      padding-bottom: 80px;
    }
      
    .title {
      font-size: 24px;
      line-height:32px;
    }

    .text {
      font-size: 16px;
      line-height: 28px;
    }

    .listItem {
      font-size: 16px;
    }

    .list{   
      max-width: 295px;
      margin-top: 50px;
    }

    .listItemImg{
      width: 20px;
      height: 20px;
      margin: 5px;
    }
}

  @media (min-width: 768px) {
    .contacts {
      height: 95vh;
      margin-top: 70px;
      padding-top: 80px;
      padding-bottom: 100px;
    }

    .icon {
      font-size: 25px;
      margin-bottom: 5px;
    }

    .title {   
        font-size: 26px;
        line-height: 28px;
    }

    .text{
      margin-top: 15px;
      font-size: 18px;
      line-height: 24px;
    }

    .list {
      margin-top: 60px;
      padding: 60px;
      padding-top: 70px;
      
    }

    .listItem{
      font-size: 20px;
      margin-bottom: 30px;     
    }

    .listItemImg{
      width: 30px;
      height: 30px;
    }
  }
  
  @media  (min-width: 1200px) {
    .contacts {
      padding-top: 120px;
    }

     .text {
      font-size: 20px;
      line-height: 26px;
      margin-top: 25px;
    }

    .list{
      margin-top: 50px;
      padding: 70px;
      padding-top: 80px;
    }

    .title{
      margin-top: 15px;
    }

    .listItemImg{
      width: 30px;
      height: 30px;
      }
    }

    @media  (min-width: 1920px) {
      .contacts {
        padding-top: 160px;
      }

      .title {   
        font-size: 28px;
        line-height: 30px;
      }

      .text {
        font-size: 20px;
        line-height: 26px;
        margin-top: 25px;
      }

      .list{
        margin-top: 50px;
        padding: 70px;
        padding-top: 80px;
      } 
    }    

    @media  (min-width: 2080px) {
      .contacts {
        padding-top: 180px;
      }

      .title {   
        font-size: 32px;
        line-height: 34px;
      }

      .text {
        font-size: 24px;
        line-height: 30px;
      }

      .list {
        margin-top: 70px;
        padding: 90px;
        padding-top: 100px;
      } 

      .listItem {
        font-size: 24px;
        margin-bottom: 35px;     
      }

       .listItem .icon {
        font-size: 30px;
        margin-bottom: 15px;
      }

      .listItemImg{
        width: 40px;
        height: 40px;
      }
    }
    
     @media  (min-width: 2560px) {
      .contacts {
        padding-top: 200px;
      }

      .title {   
        font-size: 36px;
        line-height: 38px;
      }

      .text {
        font-size: 28px;
        line-height: 34px;
      }

      .list {
        margin-top: 90px;
        padding: 110px;
        padding-top: 120px;
      } 

      .listItem {
        font-size: 28px;
        margin-bottom: 40px;     
      }

       .listItem .icon {
        font-size: 36px;
        margin-bottom: 15px;
      }

      .listItemImg{
        width: 45px;
        height: 45px;
      }
    }
    