.themeBannerOpen {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-family: 'Mulish';
    z-index: 20;
    padding: 15px 25px;
    background-color: rgba(2, 46, 69, 0.721);
}

.themeBannerClosed {
   display: none;
}

.themeBannerWrapper {
    background-color:blur;
}

.title{
    font-weight: 700;  
    font-size: 2vw;
    color: rgb(255, 217, 0);
    background-color: rgb(255, 255, 255);
    /* background: linear-gradient(0deg, rgba(255,227,0,1) 50%, rgba(130,196,123,1) 50%, rgba(0,164,250,1) 50%); */

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.button{
    padding: 5px 15px;
    font-size: 8px;
    font-weight: 700;
    cursor: pointer;
    background: linear-gradient(0deg, rgba(255,227,0,1) 50%, rgba(130,196,123,1) 50%, rgba(0,164,250,1) 50%);
    /* background-color:  rgb(255, 217, 0); */
    margin-left: 10px;
    border-radius: 15px;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
}

.button:hover{
    transform: scale(105%);
}


@media (min-width: 425px)  {
    .title{
        /* font-size: 6vw; */
    }
}
@media (min-width: 768px)  {
    
    .title{   
        /* font-size: 26px; */
        line-height: 28px;
    }
    
    .logo {
        height: 60px;
    } 
    .button{
        font-size: 16px;
    }
}  

@media (min-width: 1200px) { 
    .title{
        font-size: 20px;
    }
        .logo {
        margin-right: 60px;
    } 
}

@media (min-width: 1920px) { 
    .marqueeWrapper{
           
    }  

    .logo {
        height: 80px;
        margin-right: 80px;
    } 
}